*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;

}
.Form_pincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 30%;
    width: 30%; */
    margin: 15%;
    gap: 5px;

}
form{

    height: 30%;
    width: 30%; 
    gap: 8px;
}
button{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20%;
    gap: 20px;
}